In [1]:
import subway_p as sb
import pandas as pd
import os
import datetime

In [4]:
# 문제 3 2021년 모든 지하철 승하차 인원 월별로 저장 2021_01.csv같은 파일명으로 저장
# 20210101 ~ 20210331까지 제한

for i in range (1,4): #1월 2월 3월로 잡기 위해 범위를 1,2,3 카운트
    
    start_date= '2022-01-01' #2022년 시작일 설정
    end_date = '2022-12-31' #2022년 종료일 설정
    set_enddates = pd.date_range(start_date,end_date,freq='M').astype(str) #각 월별 끝 날짜 나오는 함수
    #pandas에서는 날짜 자료형 타입이 별도로 존재해 문자로 변환해야 함
    start_month = f'2022-0{i}-01' #시작일 i월 1일로
    for x in range(len(set_enddates)): #set_enddates 전체를 검색해 for 문을 돌릴 것이다
        if '0'+str(i) in set_enddates[x][5:7]: #날짜가 01~12까지라 '0'+str(i)로 처리 - 10~12월은 별도 예외처리가 필요
            end_month = set_enddates[x] #i월의 끝 날짜 지정
    ts_days_idx = pd.date_range(start_month,end_month).astype(str) # 월별 날짜 구하는 함수 1월 1일~31일 등
    res_tmp=[] #임시리스트 작성
    for d in ts_days_idx: #월별 날짜를 이용해 for문 처리할 것
        d= d.replace('-','') #날짜에 -가 있어 지하철 format에 맞게 처리하기 위해 '-'제거
        res_tmp.append(sb.subway_p(d)) #각 일별 자료 res_tmp에 append
    #for d 문 종료
    df_tmp=pd.concat(res_tmp,ignore_index=True) #담은 일별자료 묶어 월별자료로 전환   
    os.makedirs(f'./지하철/{i}월',exist_ok=True) #i월 폴더 만들기
    df_tmp.to_csv(f'./지하철/{i}월/2021_0{i}.csv') #i월 파일 제작
    #i월 작업 끝!

#전체 월 작업 끝

In [3]:
month=pd.date_range('20220101', '20220331').astype('str')
res_m=[]
for i in range(len(month)):
    m=month[i].replace('-','')
    res_m.append(m)
res_m

['20220101',
 '20220102',
 '20220103',
 '20220104',
 '20220105',
 '20220106',
 '20220107',
 '20220108',
 '20220109',
 '20220110',
 '20220111',
 '20220112',
 '20220113',
 '20220114',
 '20220115',
 '20220116',
 '20220117',
 '20220118',
 '20220119',
 '20220120',
 '20220121',
 '20220122',
 '20220123',
 '20220124',
 '20220125',
 '20220126',
 '20220127',
 '20220128',
 '20220129',
 '20220130',
 '20220131',
 '20220201',
 '20220202',
 '20220203',
 '20220204',
 '20220205',
 '20220206',
 '20220207',
 '20220208',
 '20220209',
 '20220210',
 '20220211',
 '20220212',
 '20220213',
 '20220214',
 '20220215',
 '20220216',
 '20220217',
 '20220218',
 '20220219',
 '20220220',
 '20220221',
 '20220222',
 '20220223',
 '20220224',
 '20220225',
 '20220226',
 '20220227',
 '20220228',
 '20220301',
 '20220302',
 '20220303',
 '20220304',
 '20220305',
 '20220306',
 '20220307',
 '20220308',
 '20220309',
 '20220310',
 '20220311',
 '20220312',
 '20220313',
 '20220314',
 '20220315',
 '20220316',
 '20220317',
 '20220318',
 '20220319',
 '20220320',
 '20220321',
 '20220322',
 '20220323',
 '20220324',
 '20220325',
 '20220326',
 '20220327',
 '20220328',
 '20220329',
 '20220330',
 '20220331']

In [6]:
df

NameError: name 'df' is not defined

In [5]:
d=pd.Series(d_ranges)

NameError: name 'd_ranges' is not defined

In [ ]:
d.map(sb.subway_p)

In [ ]:
df_res=pd.concat([d,d1],axis=1)

In [7]:
df_res['월']=[i[4:2] for i in df_res[0]]

NameError: name 'df_res' is not defined

In [ ]:
df_res

In [ ]:
월=df_res['월'].unique()

In [ ]:
for i in 월:
    tmp=display(df_res[df_res['월']==01])
    display(tmp.iloc[1])
#     for j in tmp:
#         display(j)
    break

In [ ]:
for i in 월:
    print(df_res)
    break