In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('./data/seoul_house_price.csv')

In [6]:
df.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    295
dtype: int64

In [7]:
df.shape

(4505, 5)

In [9]:
df.dtypes

지역명        object
규모구분       object
연도          int64
월           int64
분양가격(㎡)    object
dtype: object

In [10]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [11]:
df.columns = ['지역명', '규모구분', '연도', '월', '분양가격']

In [21]:
df.loc[df['분양가격']=='  ','분양가격']=None

In [24]:
df.isnull().sum()

지역명       0
규모구분      0
연도        0
월         0
분양가격    311
dtype: int64

In [31]:
df_notnull=df[df['분양가격'].notnull()]

In [38]:
df_notnull['분양가격'].astype('int')

ValueError: invalid literal for int() with base 10: '6,657'

In [37]:
df['분양가격']=df['분양가격'].str.replace(',','')

In [35]:
df['분양가격'][0]

'5841'

In [41]:
df_notnull=df[df['분양가격'].notnull()]

In [45]:
df_notnull['분양가격'].astype('int')

ValueError: invalid literal for int() with base 10: '-'

In [46]:
df_notnull['분양가격'].str.replace('-','')

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4498    3247
4500    3955
4501    4039
4502    3962
4504    3601
Name: 분양가격, Length: 4194, dtype: object

In [49]:
df.loc[df['분양가격']=='-','분양가격']=None

In [56]:
df_not_null['분양가격']=df[df['분양가격'].notnull()]

ValueError: Columns must be same length as key

In [55]:
df_not_null.dtypes

지역명     object
규모구분    object
연도       int64
월        int64
분양가격    object
dtype: object