In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [3]:
url='https://www.melon.com/chart/day/index.htm'
html=requests.get(url)

In [4]:
bs(html.text,'html.parser')

In [6]:
# !pip install selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [3]:
driver=webdriver.Chrome('./chromedriver.exe')
url='https://www.melon.com/chart/day/index.htm'
driver.get(url)
time.sleep(2)
html=driver.page_source
driver.close()
driver.quit()

C:\Users\yumei\AppData\Local\Temp\ipykernel_17908\1919684144.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('./chromedriver.exe')

In [4]:
type(html)

str

In [52]:
soup=bs(html,'html.parser')

In [86]:
t_body=soup.find('tbody')
tr_tags=t_body.find_all('tr')
res=[]
for tr in tr_tags:
    rank=tr.find('span','rank').text
    title=tr.find('div','ellipsis rank01').find('a').text
    artist=tr.find('div','ellipsis rank02').find('a').text
    like=tr.find('span','cnt').text.strip('\n총건수\n')
    res.append([rank,title,artist,like])
df=pd.DataFrame(res)
df.columns=['순위','노래','가수','좋아요']
df

,순위,노래,가수,좋아요
0,1,그때 그 순간 그대로 (그그그),WSG워너비 (가야G),"96,804"
1,2,보고싶었어,WSG워너비 (4FIRE),"95,590"
2,3,LOVE DIVE,IVE (아이브),"177,382"
3,4,Attention,NewJeans,"66,858"
4,5,SNEAKERS,ITZY (있지),"46,275"
...,...,...,...,...
95,96,눈이 오잖아(Feat.헤이즈),이무진,"90,532"
96,97,"사이렌 Remix (Feat. UNEDUCATED KID, Paul Blanco)",호미들,"147,980"
97,98,사랑해 진짜,임영웅,"39,412"
98,99,"어떻게 이별까지 사랑하겠어, 널 사랑하는 거지",AKMU (악뮤),"387,530"
99,100,Darl+ing,세븐틴,"81,727"

In [47]:
soup.find('div','ellipsis rank02').find('a').text

'WSG워너비 (가야G)'

In [87]:
t_body.find('span','cnt').text.strip('\n총건수\n')

'96,804'

                                               노래              가수      좋아요
0                               그때 그 순간 그대로 (그그그)    WSG워너비 (가야G)   96,804
1                                           보고싶었어  WSG워너비 (4FIRE)   95,590
2                                       LOVE DIVE       IVE (아이브)  177,382
3                                       Attention        NewJeans   66,858
4                                        SNEAKERS       ITZY (있지)   46,275
..                                            ...             ...      ...
95                               눈이 오잖아(Feat.헤이즈)             이무진   90,532
96  사이렌 Remix (Feat. UNEDUCATED KID, Paul Blanco)             호미들  147,980
97                                         사랑해 진짜             임영웅   39,412
98                      어떻게 이별까지 사랑하겠어, 널 사랑하는 거지       AKMU (악뮤)  387,530
99                                       Darl+ing             세븐틴   81,727

[100 rows x 3 columns]